body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease-in-out;
}

:root {
    --bg-color: #f4f4f4;
    --text-color: #333;
    --card-bg: white;
    --btn-bg: #007BFF;
    --btn-hover: #0056b3;
}

.dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #f4f4f4;
    --card-bg: #333;
    --btn-bg: #ff9800;
    --btn-hover: #e68900;
}

.card {
    background: var(--card-bg);
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}
.card img {
    width: 100px;  /* Или другой фиксированный размер */
    height: 100px; /* Держим квадратную форму */
    object-fit: contain; /* Гарантирует, что вся картинка поместится */
    display: block;
    margin: 0 auto; /* Центрируем */
}
.card:hover {
    transform: scale(1.05);
}

button {
    background-color: var(--btn-bg);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--btn-hover);
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
#theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#theme-toggle:hover {
    background-color: #0056b3;
}
